<table border="0" cellspacing="5" cellpadding="5">
  <caption><%= @instances.count %> Instance</caption>
  <tr>
    <th>instance_id</th>
  </tr>
  <% @instances.each do |instance| %>
    <tr>
      <td><%= instance.instance_id %></td>
    </tr>
  <% end %>
</table>