<form action="/hosts/" method="POST" accept-charset="utf-8">
  <label for="name">name</label><input type="text" name="name" value="" id="name">
  <br>
  <label for="internal_ip">internal_ip</label><input type="text" name="internal_ip" value="" id="internal_ip"><br>
  <label for="memory">memory</label><input type="text" name="memory" value="" id="memory"><br>
    

  <p><input type="submit" value="Submit &rarr;"></p>
</form>