<table border="1" cellspacing="0" cellpadding="5">
  <caption>Machine Images List</caption>
  <thead>
    <tr><th>image_id</th></tr>
  </thead>
  <tbody>
    <% MachineImage.list.each do |name| %>
      <tr>
        <td><a href=<%= name %>><%= name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<a href="new">Register new image</a>
