<h3>Upload a new machine image.</h3>
<p>Machine images must be a gzipped tarball of a libvirt compatible machine image directory.</p>
<hr>

<form action="/machine_images/" method="post" accept-charset="utf-8" enctype='multipart/form-data'>
  <p>
    <label>image file</label>
    <input name='image_file' type="file">
  </p>
  <input type='submit'>
</form>