<h3>Upload a new machine image.</h3>
<p>Machine images must be a gzipped tarball of a libvirt compatible machine image directory.</p>
<hr>

<form action="/machine_images/" method="post" accept-charset="utf-8" enctype='multipart/form-data'>
  <p>
    <label for="domain_xml">domain_xml</label>
    <input type="textarea" name="domain_xml" id="domain_xml">
  </p>
  <p>
    <label>image file</label>
    <input name='image_file' type="file">
  </p>
  <p>
    <label for="image_type">image type</label>
    <SELECT NAME="image_type">
      <OPTION VALUE="libvirt">libvirt</option>
      <OPTION VALUE="vmrun">vmrun</option>
    </SELECT>
  </p>
  <input type='submit' value='submit'>
</form>